.borde{
  border: 3px solid black;
  border-radius: 10px;
}

.legend-small {
            font-size: 18px;
        }

.colorear{
    background-color: lightskyblue; 
}

.color_blanco{
    background-color: white; 
}

.color_claro{
    background-color: #aafff4;
}

.letra-60 {
    font-size: 60px;
}

.letra-30 {
    font-size: 30px;
}