{% extends "base.html" %}

{% block title %}Remito{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 mt-2 d-flex justify-content-center">
                <img src= {{ url_for('static', filename=numero) }} style="max-width: 50%">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12 mt-2 d-flex justify-content-center">
            <a href="{{ url_for('descargar', ruta_archivo=numero) }}" class="btn btn-primary">Descargar Remito</a>
        </div>
    </div>
</div>
{%endblock%}
