<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no;user-scalable=0;"/>
    <title></title>
  </head>
  <body>
    <h1>Pagina para generar remito</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.remito.label }}
            {{ form.remito(size=2) }}
            {% for error in form.remito.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <span>
            {{ form.dia.label }}
            {{ form.dia(size=2) }}
            {% for error in form.dia.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </span>
        <span>
            {{ form.mes.label }}
            {{ form.mes(size=2) }}
            {% for error in form.mes.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </span>
	<span>
            {{ form.anio.label }}
            {{ form.anio(size=2) }}
            {% for error in form.anio.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </span>
	<p>
            {{ form.orden.label }}
            {{ form.orden(size=2) }}
            {% for error in form.orden.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    <p>
            {{ form.seniores.label }}
            {{ form.seniores(size=12) }}
            {% for error in form.seniores.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    <p>
            {{ form.direccion.label }}
            {{ form.direccion(size=12) }}
            {% for error in form.direccion.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        </br>
    <p>
            {{ form.iva.label }}
            {{ form.iva}}
        </p>
    <p>
            {{ form.transportista.label }}
            {{ form.transportista(size=12) }}
            {% for error in form.transportista.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    <p>
            {{ form.lugar_entrega.label }}
            {{ form.lugar_entrega(size=12) }}
            {% for error in form.lugar_entrega.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.cuit.label }}
            {{ form.cuit(size=12) }}
            {% for error in form.cuit.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        </br>
	<span>
            {{ form.cantidad_uno.label }}
            {{ form.cantidad_uno(size=2) }}
            {% for error in form.cantidad_uno.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </span>
	<span>
            {{ form.desc_uno.label }}
            {{ form.desc_uno(size=12) }}
            {% for error in form.desc_uno.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </span>
        </br>
        <span>
            {{ form.cantidad_dos.label }}
            {{ form.cantidad_dos(size=2) }}
            {% for error in form.cantidad_dos.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </span>
	<span>
            {{ form.desc_dos.label }}
            {{ form.desc_dos(size=12) }}
            {% for error in form.desc_dos.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </span>
        </br>
        <span>
            {{ form.cantidad_tres.label }}
            {{ form.cantidad_tres(size=2) }}
            {% for error in form.cantidad_tres.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </span>
	<span>
            {{ form.desc_tres.label }}
            {{ form.desc_tres(size=12) }}
            {% for error in form.desc_tres.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </span>
        </br>
        <span>
            {{ form.cantidad_cuatro.label }}
            {{ form.cantidad_cuatro(size=2) }}
            {% for error in form.cantidad_cuatro.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </span>
	<span>
            {{ form.desc_cuatro.label }}
            {{ form.desc_cuatro(size=12) }}
            {% for error in form.desc_cuatro.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </span>
        </br>
        <span>
            {{ form.cantidad_cinco.label }}
            {{ form.cantidad_cinco(size=2) }}
            {% for error in form.cantidad_cinco.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </span>
	<span>
            {{ form.desc_cinco.label }}
            {{ form.desc_cinco(size=12) }}
            {% for error in form.desc_cinco.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </span>
        </br>
        <span>
            {{ form.cantidad_seis.label }}
            {{ form.cantidad_seis(size=2) }}
            {% for error in form.cantidad_seis.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </span>
	<span>
            {{ form.desc_seis.label }}
            {{ form.desc_seis(size=12) }}
            {% for error in form.desc_seis.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </span>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>

